*{
  font-size:small;
  font-family: 'Montserrat', sans-serif;
}

.profile_pic{
  border-radius: 50%;
  height: 10em;
  width: 10em;
}

#prof{
  margin-left: auto;
  margin-right: auto;
}

#categories{
  display: flex;
  flex-direction: row;
}

.Pitch{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.heading{
  height: 10em;
  color: whitesmoke;
}

.space-bar{
  background-color: #6F1D1B;
  margin-bottom: 2em;

}