{% extends 'base.html'%}
{% block content %}
<h2 class="text-center">{{category_title}}</h2>
<hr>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <!--Flash message -->
    {% for message in get_flashed_messages() %}
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ message }}
    </div>
    {% endfor %}
  </div>
  <div class="col-md-1"></div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    {% if pitches %}
    {% for pitch in pitches %}
    <div class="card" id="white">
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <h4 class="card-title" style="color: white;">{{pitch.title}}</h4>
          <p>{{pitch.pitch_content}}</p>
          <footer class="blockquote-footer">- {{pitch.user_id.username}}</footer>
          <small style="float: right;" style="cursor: pointer !important"><a href="/comment/{{pitch.id}}"> Add a
              Comment</a></small>
        </blockquote>
      </div>
    </div>
  </div>
  {% endfor%}
  {%endif%}
  <div class="col-md-2"></div>
</div>
{% endblock %}