{% extends 'base.html'%}
{% import 'macros.html' as macro %}
{% import "bootstrap/wtf.html" as wtf %}


{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="card shadow p-3 mb-5 rounded card" style="width: 25em;" id="prof">
        <div class="cardbody">
          <p class="pitch-metadata">
          <h3 class="inline"><a class="pitch-title" href="#">{{pitch.pitch_title}}</a></h3>
          <small class="text-muted"> Posted on {{pitch.posted.strftime('%d/%m/%Y')}} | {{pitch.category}}</small>
          <hr>
          </p>
          <p class="pitch-content">{{pitch.content}}</p>
          <small class="text-muted">
            <p class="mr-2">-Author {{pitch.user.username}}</p>
          </small>
          <p class="pitchback"> <a href="/"> Back to pitches </a> </p>
        </div>
      </div>
      <div>
        {{ wtf.quick_form(form)}}
      </div>
    </div>
    <div class="col-md-4">
      <div class="card shadow p-3 mb-5 rounded card" style="width: 25em;" id="prof">
        <div class="card-title">
          Posted comments
        </div>
        <hr>
        <div class="cardbody">
          {{macro.displayComments(all_comments)}}
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>

{% endblock %}