{% extends 'base.html' %}
{% import 'macros.html' as macro %}
<!-- Content block -->
{% block content %}
<title> {{ title }} </title>
<div class="row">
  <div class="space-bar">
    <div class="cover container-fluid">
      <div class="heading">
        <div class="row">
          <div class="col-md-4" style="padding-top: 2em; text-align: center;">
            <p >
              <i class="fa fa-quote-left" aria-hidden="true"></i>
              <strong>With a good perspective on history, we can<br> have a better understanding of the past<br> and present, and thus a clear<br> vision
              of the future.</strong>
            <i class="fa fa-quote-right" aria-hidden="true"></i>
            <br> <small>~ Burens</small>|<small>Investor pitch</small>
            </p>
          </div>
          <div class="col-md-4" style="padding-top: 2em;text-align: center;">
            <p> <strong> 
              <i class="fa fa-quote-left" aria-hidden="true"></i>
              Can I follow you where you’re going right now?<br> Because my parents always told me <br>to follow my dreams
            <i class="fa fa-quote-right" aria-hidden="true"></i>
            </strong>
            <br> <small>~ Burens</small>|<small>Love pitch</small>
          </p>
          </div>
          <div class="col-md-4" style="padding-top: 2em;text-align: center;">
            <p> <strong>
                <i class="fa fa-quote-left" aria-hidden="true"></i>
                Pop culture and entertainment can be dismissed as<br> surface, but it's not. It's the language we all speak,<br> and it's the
                connection point between people<br> all over the world.
                <i class="fa fa-quote-right" aria-hidden="true"></i>
              </strong>
              <br> <small>~ Burens</small>|<small>Entertainment pitch</small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card shadow p-3 mb-5 rounded card" style="width: 27em;" id="prof">
      <div class="cardbody">
        <div class="card-img">
          {% if current_user.profile_pic_path %}
          <img src="{{url_for('static',filename=current_user.profile_pic_path)}}" class="profile_pic" alt="">
          {%else%}
          <p>No profile picture</p>
          {% endif %}
        </div>
        <hr>
        <br>
        <div class="col-md-4">
          <h3><strong> {{current_user.username| upper()}}</strong> </h3><br>
          <br>    
          <!--Displaying user bio-->
          <h3>Bio Info</h3>
          <hr>
          {% if current_user.bio %}
          <p>Bio Info: {{current_user.bio}}</p>
          {%else%}
          <p> {{current_user.username| upper()}} has no bio </p>
          {% endif %}
        </div><br>
      </div>
    </div>
    </div>
  <div class="col-md-8">
    <div class="container wrapper" id="grad">
      <ul class="nav nav-tabs nav-tabs-right" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="interview-tab" data-toggle="tab" href="#interview" role="tab"
            aria-controls="interview" aria-selected="true">Interview</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="investor-tab" data-toggle="tab" href="#investor" role="tab" aria-controls="investor"
            aria-selected="false">Investor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="promotion-tab" data-toggle="tab" href="#promotion" role="tab" aria-controls="promotion"
            aria-selected="false">Promotion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="entertainment-tab" data-toggle="tab" href="#entertainment" role="tab"
            aria-controls="entertainment" aria-selected="false">Entertainment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="love-tab" data-toggle="tab" href="#love" role="tab" aria-controls="love"
            aria-selected="false">Love-Pitch</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane show active" id="interview" role="tabpanel" aria-labelledby="interview-tab">
          <section>
            <div class="intro">
              <div class="pl-heroleft feature content ">
                <div id="interview">
                  <div class="row">
                    <div class="block col-md-4">
                      <h3 style="text-align: center;">Interview Pitches</h3>
                      <br>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="content" id="interview">
              <div class="tab-content">
                <div class="Pitch">
                  {{macro.displayPitches(interviewpitches)}}
                </div>
              </div>
            </div>
          </section>
        </div>
        <div class="tab-pane fade" id="investor" role="tabpanel" aria-labelledby="product-tab">
          <section>
            <div class="intro">
              <div class="pl-heroleft feature content ">
                <div id="investor">
                  <div class="row">
                    <div class="block col-md-4">
                      <h3>Investor Pitches</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="content" id="investor">
              <div class="tab-content">
                <div class="Pitch">
                  {{macro.displayPitches(investorpitches)}}
                </div>
              </div>
            </div>
          </section>
        </div>
        <div class="tab-pane fade" id="promotion" role="tabpanel" aria-labelledby="promotion-tab">
          <section>
            <div class="intro">
              <div class="pl-heroleft feature content ">
                <div id="promotion">
                  <div class="row">
                    <div class="block col-md-4">
                      <h3>Promotion Pitches</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="content" id="promotion">
              <div class="tab-content">
                <div class="Pitch">
                  {{macro.displayPitches(promotionpitches)}}
                </div>
              </div>
            </div>
          </section>
        </div>
        <div class="tab-pane fade" id="entertainment" role="tabpanel" aria-labelledby="business-tab">
          <section>
            <div class="intro">
              <div class="pl-heroleft feature content ">
                <div id="entertainment">
                  <div class="row">
                    <div class="block col-md-4">
                      <h3>Entertainment Pitches</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="content" id="entertainment">
              <div class="tab-content">
                <div class="Pitch">
                  {{macro.displayPitches(entertainmentpitches)}}
                </div>
              </div>
            </div>
          </section>
        </div>
        <div class="tab-pane fade" id="love" role="tabpanel" aria-labelledby="love-tab">
          <section>
            <div class="intro">
              <div class="pl-heroleft feature content ">
                <div id="love">
                  <div class="row">
                    <div class="block col-md-4">
                      <h3>Love Pitches</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="content" id="love">
              <div class="tab-content">
                <div class="Pitch">
                  {{macro.displayPitches(lovepitches)}}
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}