{% extends 'base.html'%}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  {% if title %}
  <title> {{ title }}</title>
  {% else %}
  <title> Welcome to pitching app</title>
  {% endif %}
</head>
<body>
  <!-- Content block -->
  {% block content %}
<div class="main" id="main">
  <h3>
    “Hope is the thing with feathers that perches in the soul - and sings the tunes without the words - and never stops at
    all.”
  </h3>
  <blockquote>Emily Dickinson, Poet
</blockquote>
</div>
<!-- Content block -->
{% endblock %}
</body>

</html>